/*Home Page*/
body{
	margin:0;
	padding:0;
}
#header {
	width:100%;
	background:blue;
	
}
#headercontain{
	width:960px;
	/* canh khung heeadercontain ra giua*/
	margin:0px auto;
}
#logo{
	float:left;
}
#find{
	float:right;
	border: 1px solid black;
}
#search{
	width: 750px;
	background: transparent;
	border: 1px solid green;
	float:right;
}



#menu{
	width:100%;
	background:#eeeeee;
	clear:both;
}
#menucontain{
	width:960px;
	height:50px;
	margin:0px auto;
}
#account_box{
        margin-top:14px;
        
	width:200px;
	float:right;
}
#account_box1{
        
	width:100px;
	float:left;
}
#account_box2{
	width:100px;
	float:right;
}
#dropmenu{
	float: left;
}
/* dropmenu */
#dropmenu ul {
  
  text-align: left;
  display: inline;
  margin: 0;
  padding: 15px 4px 17px 0;
  list-style: none;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
 // box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
#dropmenu ul li {
  font: bold 12px/18px sans-serif;
  display: inline-block;
  margin-right: -4px;
  position: relative;
  padding: 15px 20px;
  background: #eeeeee;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
#dropmenu ul li:hover {
  z-index: 6;
  background: #555;
  color: #fff;
}
#dropmenu ul li a:hover {
  z-index: 6;
  background: #555;
  color: #fff;
}
#dropmenu ul li ul {
  padding: 0;
  position: absolute;
  top: 48px;
  left: 0;
  width: 150px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
}
#dropmenu ul li ul li { 
  background: #555; 
  display: block; 
  color: #fff;
  text-shadow: 0 -1px 0 #000;
}
#dropmenu ul li ul li:hover { background: #666; }
#dropmenu ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}
/*end dropmenu*/
#danhmucsanpham{
    width: 940px;
    height: 200px;
    background:red;
}




#wrapper{
	width:960px;
	margin: 0 auto;
	height:900px;
	
}
#slideshow { 
     z-index: 5;
    margin: 50px auto; 
    position: relative; 
    width: 940px; 
    height: 240px; 
    padding: 10px; 
    box-shadow: 0 0 20px rgba(0,0,0,0.4); 
}
#slideshow > div { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
}
#newproduct{
	width:960px;
	height: 200px;
	border: 1px solid red;
}
#newproduct table tr{
   
    width:960px;
    background: red;
}
#newproduct table td{
    width:960px;
    background: green;
}
#slider2{
	width:960px;
	height: 150px;
	border: 1px solid red;
}
#slider3{
	width:960px;
	height: 150px;
	border: 1px solid red;
}




#footer{
	clear:both;
	width:100%;
	height:150px;
	background: #2d6dab;
	color: white;
	
	
}
#footcontain{
	width:960px;
	margin:0px auto;
}
#foot1{
	
	width:320px;
	float:left;
	
}
#foot2{
	
	width:310px;
	float:left;
	
}
#foot3{
	
	width:320px;
	float:left;
	
}

#foot4{
	clear:both;
}


/* Login Page */

#loginpage{
	
	width:500px;
	height:200px;
	margin: 0 auto;
	background:yellow;
	
}
#user{
	width:500px;
	margin: 0 auto;
	background:green;
}
#user.p{
	color:red;
}


/*Register Page*/

/*Register Page*/
#user_cp{
    margin: 10px;
    border: 1px solid black;
    float:left;
    width:200px;
    
}

/* show hide*/

detailDiv {
height:80px;
       width: 400px;
background: #222;
display: inline-block;
padding: 50px 10px 6px;
color: #fff;
text-decoration: none;
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
border-bottom: 1px solid rgba(0,0,0,0.25);
position: relative;
cursor: pointer
font-size: 11px;font-weight: bold;line-height: 1;text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
background-color: #91bd09;
text-align:center;
}
detailDiv:hover {background-color: #749a02;}